SECRET_KEY=change-me
ALLOWED_HOSTS=['*']

#-------DB ENVS--------
NAME=postgres
USER=postgres
PASSWORD=postgres
HOST=localhost
PORT=5432

#-------CELERY---------
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

#--------FLOWER--------
CELERY_FLOWER_USER=change-me
CELERY_FLOWER_PASSWORD=change-me

#--------REDIS---------
REDIS_URL=redis://redis:6379/0

#-------ADMIN---------
ADMIN_URL=change-me/
ADMIN_NAME=change-me
ADMIN_EMAIL=change-me@change-me.com

# -------ALL_AUTH-------
ALLOW_REGISTRATION=True
